@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");
body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  margin: 20px;
  padding: 20px;
}

header li a {
  text-decoration: none;
  color: black;
}

li:hover {
  background-color: lightgray;
}

header {
  position: sticky;
  padding-top: 8px;
  height: 40px;
  align-items: center;
  background:white;
}

header * {
  display: inline;
}

